body {
    font-family: 'Raleway', sans-serif;
}
.body {
    background-image: url(loginbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
   background-color: rgba(128, 119, 119, 0.5);
    padding: 17px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}
.image-side{
    height: 600px;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: lightslategrey;
    margin: 0px;
}

.image-avatar {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 200px;
}